.main {
  min-width: 100vw;
  min-height: 100vh;
  overflow-x: auto;
}

.first_div{
  display: flex;
  justify-content: center;
  position: relative;
}
.proImage{
  width: 100vw;
  height: 100vh;
}

.text_container{
  position: absolute;
  top: 25%
}
.button_container{
  position: absolute;
  top: 5%;
  right: 5%;
  background-color: aliceblue;
}

@media only screen and (max-width: 600px) {

  .main {
    min-width: 600px;
    min-height: 100vh;
    overflow-x: auto;
  }
  .proImage{
    width: 800px;
    height: 100vh;
  }
}